/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy';
  src: url("./assets/fonts/Gilroy-Semibold.ttf");
}

@font-face {
  font-family: 'Merriweather';
  src: url("./assets/fonts/Merriweather-Black.ttf");
}

body {
  background-color: #191411;
  font-family: 'Gilroy', sans-serif;
  color: white;
}
.common-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase
}
